.right-side__inside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-2);
    position: relative;
}

.right-side__inside__header {
    width: 100%;
    padding: 7.2px 9px;
    border-bottom: 1px solid var(--dark-border-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: relative;
    height: 60px;
}

.right-side__inside__header__search-group {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    width: 360px;
    align-items: center;
    position: relative;
}

.right-side__inside__header__search-group i {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.6;
}

.fa-magnifying-glass:focus {
    color: var(--secondary-color);
    opacity: 1 !important;
}

.fa-xmark {
    margin-right: 30px;
}

.fa-xmark:focus {
    color: var(--secondary-color);
    opacity: 1 !important;
}

.right-side__inside__header__search-group__search-bar {
    padding: 2.1% 66px 2.4% 18px;
}

.right-side__inside__header__search-group__search-bar::placeholder {
    font-size: var(--fs-less-1);
    opacity: 0.81;
}

.right-side__inside__header__user-group {
    grid-area: 1 / 3 / span 1 / span 1;
    height: 100%;
    width: 100px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 21px;
    margin-right: 21px;
}

.right-side__inside__header__user-group__cart-group {
    position: relative;
}

.right-side__inside__header__user-group__cart-group__amount {
    font-size: var(--fs-less-1);
    color: white;
    background-color: #da1814d0;
    position: absolute;
    padding: 0 3px;
    padding-right: 4px;
    border-radius: 9px;
    bottom: -6px;
    left: -6px;
}

.right-side__inside__header__user-group__cart-group__dropdown {
    position: absolute;
    top: 18px;
    right: -5px;
    min-width: 210px;
    min-height: 90px;
    border: 1px solid var(--dark-border-color);
    background-color: var(--dark-panel-color);
    z-index: 4;
    border-radius: var(--border-radius-2);
    display: none;
}

.right-side__inside__header__user-group__cart-group__dropdown::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 119px;
    height: 18px;
    background-color: transparent;
    cursor: pointer;
}

.right-side__inside__header__user-group__cart-group.desktop:hover .right-side__inside__header__user-group__cart-group__dropdown {
    display: flex;
}

.right-side__inside__body {
    flex: 1;
    width: 100%;
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.right-side__inside__body__search-utilities {
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 9px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.right-side__inside__body__search-utilities.pushed {
    padding-left: 300px;
}

.right-side__inside__body__search-utilities__summary {
    display: flex;
    align-items: center;
    width: 100%;
}

.right-side__inside__body__search-utilities__summary__results-count {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: var(--fs-less-1);
}

.right-side__inside__body__search-utilities__summary__results-count span {
    color: var(--secondary-color);
}

.right-side__inside__body__search-utilities__summary__category-tag-group {
    margin-left: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    padding-bottom: 9px;
}

.right-side__inside__body__search-utilities__sort {
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 60px;
    transition: 0.3s ease-in-out;
}

.right-side__inside__body__search-utilities__sort.pushed {
    padding-left: 300px;
}

.right-side__inside__body__search-utilities__sort__select {
    width: 162px;
}

.right-side__inside__body__search-utilities__sort__select__option-group__item {
    padding: 9px 11.1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-side__inside__body__search-utilities__sort__select__option-group__item .fa-eye {
    position: relative;
    left: 0.72px;
}

.right-side__inside__body__utilities {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    gap: 12px;
}

.right-side__inside__body__utilities__reset {
    border: 1px solid var(--dark-border-color);
    font-size: var(--fs-less-2);
    background-color: var(--level3-color);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8.1px 12px;
}

.right-side__inside__body__utilities__reset i {
    margin-top: 2.1px;
}

.right-side__inside__body__search-utilities__line-2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.right-side__inside__body__gallery {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
}

.right-side__inside__body__gallery__utilities {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.right-side__inside__body__gallery__item {
    break-inside: avoid-column;
    margin-bottom: var(--masonry-gap);
    position: relative;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.right-side__inside__body__gallery__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-1);
}

.right-side__inside__body__gallery__exhibition {
    width: 100%;
    flex: 1;
    column-gap: var(--masonry-gap);
    column-count: 5;
    position: relative;
    z-index: 0;
}

.right-side__inside__body__gallery__exhibition__item {
    break-inside: avoid-column;
    margin-bottom: var(--masonry-gap);
    position: relative;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.right-side__inside__body__gallery__exhibition__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-1);
    position: relative;
    z-index: 1;
}

.right-side__inside__body__gallery__exhibition__preview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: var(--level1-color);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.21s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.right-side__inside__body__gallery__exhibition__item:hover .right-side__inside__body__gallery__exhibition__preview {
    opacity: 1;
    pointer-events: all;
}

.right-side__inside__body__gallery__scroll-to-top {
    position: absolute;
    bottom: 18px;
    right: 24px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid var(--dark-border-color);
    background-color: var(--level1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.4px;
}

.right-side__inside__body__gallery__scroll-to-top.display {
    opacity: 1;
    pointer-events: all;
}

.right-side__inside__category {
    position: absolute;
    top: 0;
    left: 0;
    width: 195px;
    border-right: 1px solid var(--dark-level2-border-color);
    border-top-left-radius: var(--border-radius-2);
    border-bottom-left-radius: var(--border-radius-2);
    background-color: var(--level2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    width: 0px;
    transition: all ease-in-out 0.3s;
    padding-bottom: 12px;
    height: 100%;
}

.right-side__inside__category.activated {
    width: 300px;
    opacity: 1;
    pointer-events: all;
}

.right-side__inside__category__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    padding-right: 21px;
    min-height: 60px;
    border-bottom: 1px solid var(--dark-border-color);
}

.right-side__inside__category__header i {
    margin: 0;
    padding: 6px 9px;
    margin-right: 3px;
}

.right-side__inside__category__body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.right-side__inside__body__gallery__utilities__preview {
    height: 100%;
    display: flex;
    align-items: center;
}

.right-side__inside__body__gallery__utilities__preview__text {
    font-size: var(--fs-less-1);
    color: var(--secondary-color);
    padding: 3px 12px;
}

/* PREVIEW MODAL */
.preview-drawing-container {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.preview-drawing-container__title {
    pointer-events: all;
    font-size: var(--fs-larger-5);
    font-weight: 300;
    opacity: 0.81;
    font-family: var(--font-secondary);
    height: 12%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: text;
    user-select: text;
}

.preview-drawing-container__img-group {
    flex: 1;
    max-height: 76%;
    max-width: 81%;
    overflow: hidden;
}

.preview-drawing-container__img-group__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: all;
}

.preview-drawing-container__button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 12%;
    min-height: 60px;
}

.preview-drawing-container__button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: var(--level3-color);
    font-size: var(--fs-less-1);
    border-radius: var(--border-radius-2);
    pointer-events: all;
}

.preview-drawing-container__button-group button:last-child {
    background-color: transparent;
}

.preview-drawing-container__button-group button * {
    margin-top: 1.8px;
}

.preview-drawing-container__button-group button i {
    margin-right: 0;
}

/*#region SKELETON*/
.right-side__inside__body__gallery__exhibition__skeleton {
    width: 100%;
    flex: 1;
    column-gap: var(--masonry-gap);
    column-count: 5;
    position: relative;
    z-index: 0;
}

.right-side__inside__body__gallery__exhibition__skeleton__item {
    break-inside: avoid-column;
    margin-bottom: var(--masonry-gap);
    position: relative;
    transition: 0.3s ease-in-out;
    border: 1px solid var(--dark-border-color);
}

.right-side__inside__body__gallery__exhibition__skeleton__item.is-loading {
    background-image: -webkit-linear-gradient(left, var(--dark-panel-color) 0px, var(--dark-skeleton-color) 40px, var(--dark-panel-color) 80px);
    background-image: -o-linear-gradient(left, var(--dark-panel-color) 0px, var(--dark-skeleton-color) 40px, var(--dark-panel-color) 80px);
    background-image: linear-gradient(90deg, var(--dark-panel-color) 0px, var(--dark-skeleton-color) 40px, var(--dark-panel-color) 80px);
    background-size: 350px;
    -webkit-animation: shine-loading-image 0.81s infinite ease-in-out;
            animation: shine-loading-image 0.81s infinite ease-in-out;
}
/*#endregion*/

/*#region Terms and Services Pop up*/
.right-side__inside__term-and-service {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    border-top: 1px solid var(--dark-border-color);
    border-right: 1px solid var(--dark-border-color);
    border-top-right-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-2);
    background-color: var(--level2-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right-side__inside__term-and-service.activated {
    width: 150px;
    opacity: 1;
    pointer-events: all;
}

.right-side__inside__term-and-service__item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 15px 18px;
    width: 100%;
}

.right-side__inside__term-and-service__item i {
    width: 34%;
}

.right-side__inside__term-and-service__item span {
    width: 66%;
    text-align: start;
}
/*#endregion*/

/*#region Tablet Cart DropDown */
.right-side__inside__body__tablet-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: var(--level2-color);
    z-index: 2;
    transition: 0.3s ease-in-out;

    opacity: 0;
    pointer-events: none;
}

.right-side__inside__body__tablet-cart.activated {
    opacity: 1;
    pointer-events: all;
    height: 120px;
}
/*#endregion*/


/* Extra Large screens and TV */
@media (min-width: 1603px) {
    .right-side__inside__body__gallery__exhibition {
        column-count: 5;
    }

    .right-side__inside__body__gallery__exhibition__skeleton {
        column-count: 5;
    }
}

/* Below Large screens and desktops [NORMAL SCREEN] */
@media (max-width: 1602px) {
    .right-side__inside__body__gallery__exhibition {
        column-count: 4;
    }

    .right-side__inside__body__gallery__exhibition__skeleton {
        column-count: 4;
    }
}

/* Below Average screen [SMALL SCREEN] */
@media (max-width: 1333px) {
    .right-side__inside__body__gallery__exhibition {
        column-count: 3;
    }

    .right-side__inside__body__gallery__exhibition__skeleton {
        column-count: 3;
    }
}

/* Below small screen [TABLET] */
@media (max-width: 1023px) {
    .right-side__inside__category.activated {
        width: 270px;
    }

    .right-side__inside__body__search-utilities.pushed {
        padding-left: 270px;
    }

    .right-side__inside__body__search-utilities__sort.pushed {
        padding-left: 270px;
    }
}

/* Below Tablets [LARGE PHONE] */
@media (max-width: 739px) {
    .right-side__inside__body__gallery__exhibition {
        column-count: 2;
    }

    .right-side__inside__body__gallery__exhibition__skeleton {
        column-count: 2;
    }
}