<div class="wrapper">
    <ng-container *ngFor="let x of categoryStyleList">
        <ng-container *ngIf="!hasDescription(x.level3List); else specialWrapper">
            <div class="wrapper__accordion-group">
                <div class="wrapper__accordion">
                    <span class="hover-effect-yellow-bright">{{x.level2CategoryName}}</span>
                    <i class="wrapper__accordion__icon hover-effect-yellow-bright fa-solid fa-chevron-down"></i>
                </div>
                <div class="wrapper__panel">
                    <div *ngFor="let y of x.level3List" class="wrapper__panel__wrapper__level3-item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                            alt="" class="wrapper__panel__wrapper__level3-item__img">
                        <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                            <span>{{y.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #specialWrapper>
            <div class="wrapper__accordion-group-special">
                <div class="wrapper__accordion-group-special__classify-group">
                    <div class="wrapper__accordion-group-special__classify-group__accordion toggle">
                        <span class="hover-effect-yellow-bright">{{x.level2CategoryName}}</span>
                        <i class="hover-effect-yellow-bright wrapper__accordion__icon__special fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="wrapper__accordion-group-special__classify-group__panel">
                        <ng-container *ngFor="let z of extractUniqueDescs(x.level3List)">
                            <div class="hover-effect-silver-border wrapper__accordion-group-special__classify-group__panel__slash-group">
                                <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                                <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__text">
                                    {{z | capitalize}}
                                </span>
                                <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                            </div>

                            <div  class="wrapper__accordion-group-special__classify-group__panel__level3-group">
                                <ng-container *ngFor="let j of x.level3List">
                                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                                            alt=""
                                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                                            {{ j.name }}
                                        </p>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    
    <div *ngIf="!isViewLoaded" class="father-wrapper">
        <app-spinner [spinnerSize]="'md'"></app-spinner>
    </div>
</div>