<div class="wrapper">
    <div class="wrapper__accordion-group">
        <div class="wrapper__accordion">
            <input type="checkbox" (click)="addToFilter($event)">
            <span class="hover-effect-yellow-bright">Nhiếp ảnh</span>
            <i class="wrapper__accordion__icon hover-effect-yellow-bright fa-solid fa-chevron-down"></i>
        </div>
        <div class="wrapper__panel">
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
            <div class="wrapper__panel__wrapper__level3-item">
                <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                    alt="" class="wrapper__panel__wrapper__level3-item__img">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__level3-item__content">
                    <input (click)="addToFilter($event)" type="checkbox">
                    <span>Đời thường</span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper__accordion-group-special">
        <div class="wrapper__accordion-group-special__classify-group">
            <div class="wrapper__accordion-group-special__classify-group__accordion">
                <input type="checkbox" (click)="addToFilter($event)">
                <span class="hover-effect-yellow-bright">Hội họa</span>
                <i class="hover-effect-yellow-bright wrapper__accordion__icon__special fa-solid fa-chevron-down"></i>
            </div>

            <div class="wrapper__accordion-group-special__classify-group__panel">
                <div class="hover-effect-silver-border wrapper__accordion-group-special__classify-group__panel__slash-group">
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__text">
                        Theo chất liệu
                    </span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                </div>

                <div class="wrapper__accordion-group-special__classify-group__panel__level3-group">
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            <input type="checkbox">
                            Nguyễn Gia Trí
                        </p>
                    </div>
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            <input type="checkbox">
                            Nguyễn Gia Trí
                        </p>
                    </div>
                </div>

                <div class="hover-effect-silver-border wrapper__accordion-group-special__classify-group__panel__slash-group">
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__text">
                        Theo trường phái
                    </span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                </div>

                <div class="wrapper__accordion-group-special__classify-group__panel__level3-group">
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            Nguyễn Gia Trí
                            <input type="checkbox">
                        </p>
                    </div>
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            Nguyễn Gia Trí
                            <input type="checkbox">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper__accordion-group-special">
        <div class="wrapper__accordion-group-special__classify-group">
            <div class="wrapper__accordion-group-special__classify-group__accordion">
                <input type="checkbox" (click)="addToFilter($event)">
                <span class="hover-effect-yellow-bright">Cảm hứng tác giả</span>
                <i class="hover-effect-yellow-bright wrapper__accordion__icon__special fa-solid fa-chevron-down"></i>
            </div>

            <div class="wrapper__accordion-group-special__classify-group__panel">
                <div class="hover-effect-silver-border wrapper__accordion-group-special__classify-group__panel__slash-group">
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__text">
                        Theo chất liệu
                    </span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                </div>

                <div class="wrapper__accordion-group-special__classify-group__panel__level3-group">
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            <input type="checkbox">
                            Nguyễn Gia Trí
                        </p>
                    </div>
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            <input type="checkbox">
                            Nguyễn Gia Trí
                        </p>
                    </div>
                </div>

                <div class="hover-effect-silver-border wrapper__accordion-group-special__classify-group__panel__slash-group">
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__text">
                        Theo trường phái
                    </span>
                    <span class="wrapper__accordion-group-special__classify-group__panel__slash-group__slash"></span>
                </div>

                <div class="wrapper__accordion-group-special__classify-group__panel__level3-group">
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            Nguyễn Gia Trí
                            <input type="checkbox">
                        </p>
                    </div>
                    <div class="wrapper__accordion-group-special__classify-group__panel__level3-group__item">
                        <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680" alt=""
                            class="wrapper__accordion-group-special__classify-group__panel__level3-group__item__image">
                        <p class="hover-effect-yellow-bright wrapper__accordion-group-special__classify-group__panel__level3-group__item__overlay">
                            Nguyễn Gia Trí
                            <input type="checkbox">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isViewLoaded" class="father-wrapper">
        <app-spinner [spinnerSize]="'md'"></app-spinner>
    </div>
</div>