<div class="service__body__category">
    <div class="service__body__category__overlay"></div>
    <img src="../../../../../assets/images/con_nguoi.png"
        alt="" class="service__body__category__img">
    <div class="service__body__category__text-group">
        <span class="service__body__category__text-group__line"></span>
        <span class="service__body__category__text-group__content">
            Con người
        </span>
        <span class="service__body__category__text-group__line"></span>
    </div>
</div>
<div class="service__body__category">
    <div class="service__body__category__overlay"></div>
    <img src="../../../../../assets/images/dong_vat.png"
        alt="" class="service__body__category__img">
    <div class="service__body__category__text-group">
        <span class="service__body__category__text-group__line"></span>
        <span class="service__body__category__text-group__content">
            Động vật
        </span>
        <span class="service__body__category__text-group__line"></span>
    </div>
</div>
<div class="service__body__category">
    <div class="service__body__category__overlay"></div>
    <img src="../../../../../assets/images/phong_canh.png"
        alt="" class="service__body__category__img">
    <div class="service__body__category__text-group">
        <span class="service__body__category__text-group__line"></span>
        <span class="service__body__category__text-group__content">
            Phong cảnh
        </span>
        <span class="service__body__category__text-group__line"></span>
    </div>
</div>
<div class="service__body__category clickbait">
    <a routerLink="/list" class="service__body__category__text-group">
        <span class="service__body__category__text-group__content">
            Và hơn thế nữa
            <p class="hover-effect-yellow-bright">Khám phá ngay...</p>
        </span>
    </a>
</div>