.wrapper {
    width: 100%;
    height: calc(100dvh - var(--top-info-height) - 1.5dvh);
    padding: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 600px;
}

.banner {
    padding: 6px 12px;
    width: 100%;
    height: 15%;
    min-height: 81px;
}

.gallery {
    padding: 6px 12px;
    width: 100%;
    flex: 1;
}

.service {
    padding: 6px 12px;
    width: 100%;
    height: 45%;
}


.banner__inside {
    width: 100%;
    height: 100%;
    display: flex;
}

.banner__inside__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.banner__inside__left-side {
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.banner__inside__left-side__title {
    font-size: clamp(1.5rem, 0.6397rem + 3.5294vi, 2.25rem);
    font-weight: 300;
    font-family: var(--font-secondary);
    margin-left: 21%;
    margin-bottom: 12px;
    color: var(--dark-text-color);
}

.banner__inside__right-side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    white-space: nowrap;
    width: 76%;
    height: 100%;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    border-left: 1px solid var(--current-border-color);
    background-color: var(--current-panel-color);
    z-index: 3;
    position: relative;
}

.banner__inside__right-side__top {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 12px;
    align-items: center;
    width: 100%;
}

.banner__inside__right-side__top__desc {
    font-size: clamp(0.75rem, 0.3938rem + 1.5831vw, 1.125rem);
    text-align: center;
    margin-left: 15%;
    color: var(--current-text-color);
}

.banner__inside__right-side__slash {
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
}

.banner__inside__right-side__bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
    padding-right: 12px;
}

.banner__inside__right-side__bottom button {
    margin: 0;
}

.banner__inside__right-side__bottom__sub-desc {
    white-space: nowrap;
    color: var(--secondary-color);
    font-size: clamp(0.75rem, 0.3938rem + 1.5831vw, 1.125rem);
    margin-left: 30px;
}

.landing-page-clickbate {
    position: relative;
    width: 120px;
    padding: 0;
    height: 81%;
    background: linear-gradient(90deg, #3e008a, #3c0084, #7300ff, #3e008a);
    background-size: 400%;
    border-radius: 30px;
    color: var(--dark-text-color);
    z-index: 1;
    animation: landing-page-clickbate-banner-animate 18s linear infinite reverse;
}

.landing-page-clickbate:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
    background: linear-gradient(90deg, #3e008a, #6e6122, #6a2e87, #3e008a);
    background-size: 180%;
    border-radius: 40px;
    filter: blur(9px);
    opacity: 0.3;
    transition: 0.5s;
}

.landing-page-clickbate:hover:before {
    opacity: 1;
    animation: landing-page-clickbate-banner-animate 9s linear infinite reverse;
}

.banner__inside,
.gallery__inside,
.service__inside {
    border: 1px solid var(--current-border-color);
    border-radius: var(--border-radius-2);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gallery__inside {
    width: 100%;
    min-height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--current-border-color);
    background-color: whitesmoke;
    border-radius: var(--border-radius-2);
    overflow: hidden;
}

.gallery__inside__frame-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 12px;
    animation: landing-page-banner-right-side-bannermove 30s linear infinite;
}

.gallery__inside__frame-container.no-animation {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.gallery__inside.dark-mode {
    background-color: #151515;
}

.service__inside {
    border: 1px solid var(--current-border-color);
    border-radius: var(--border-radius-2);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.service__inside__header {
    width: 100%;
    padding: 12px;
    padding-bottom: 0;
}

.service__inside__header__list {
    width: 100%;
    display: flex;
    gap: 12px;
}

.service__inside__header__list_item {
    padding-bottom: 6px;
}

.service__inside__header__list_item.activated {
    border-bottom: 1px solid var(--primary-color);
    color: var(--secondary-color);
}

.service__inside__body {
    padding: 9px 12px;
    row-gap: 3%;
    column-gap: 1%;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}