<div class="wrapper">
    <div class="wrapper__accordion-group">
        <div class="hover-effect-yellow-bright wrapper__accordion">
            <input type="checkbox" (click)="addToFilter($event)">
            Con người
            <i class="wrapper__accordion__dropdown-level2-body fa-solid fa-chevron-down"></i>
        </div>
        <div class="wrapper__panel">
            <div class="wrapper__panel__wrapper">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Cá nhân</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Cặp đôi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Phi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Âu</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Á</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Tuổi đôi mươi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Trưởng thành</span>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper__accordion-group">
        <div class="hover-effect-yellow-bright wrapper__accordion">
            <input type="checkbox" (click)="addToFilter($event)">
            Con người
            <i class="wrapper__accordion__dropdown-level2-body fa-solid fa-chevron-down"></i>
        </div>
        <div class="wrapper__panel">
            <div class="wrapper__panel__wrapper">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Cá nhân</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Cặp đôi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Phi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Âu</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Á</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Tuổi đôi mươi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Trưởng thành</span>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper__accordion-group">
        <div class="hover-effect-yellow-bright wrapper__accordion">
            <input type="checkbox" (click)="addToFilter($event)">
            Con người
            <i class="wrapper__accordion__dropdown-level2-body fa-solid fa-chevron-down"></i>
        </div>
        <div class="wrapper__panel">
            <div class="wrapper__panel__wrapper">
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Cá nhân</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Cặp đôi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Phi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Âu</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Châu Á</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Tuổi đôi mươi</span>
                </div>
                <div class="hover-effect-yellow-bright wrapper__panel__wrapper__tag-filter">
                    <input type="checkbox">
                    <span class="wrapper__panel__wrapper__tag-filter__content">Trưởng thành</span>
                </div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="!isViewLoaded" class="father-wrapper">
        <app-spinner [spinnerSize]="'md'"></app-spinner>
    </div> -->
</div>