<div class="landing-page-wrapper">
    <div class="grid fw">
        <!-- TOP INFO -->
        <div class="row">
            <div class="col c-12">
                <app-top-info (notifyToggleHamburger)="handleToggleHamburber()"></app-top-info>
            </div>
        </div>

        <app-landing-page-tablet-hamburger-content (notifyToggleHamburgerContent)="handleToggleHamburgerContent()" 
        *ngIf="isTabletHamburgerOpen && ((getViewportWidth() <= getBreakpointValues('TABLET')!))" style="display: contents;"></app-landing-page-tablet-hamburger-content>

        <!-- LANDING PAGE HEADER -->
        <div class="row">
            <div class="col c-12">
                <app-landing-page-header style="display: contents" (notifyToggleLoginModal)="handleToggleLoginModal()"></app-landing-page-header>
            </div>
        </div>

        <!-- LANDING PAGE BODY -->
        <div class="row">
            <app-landing-page-desktop-body 
                style="display: contents" *ngIf="(getViewportWidth() > getBreakpointValues('TABLET')!)"></app-landing-page-desktop-body>
            <app-landing-page-tablet-body 
                style="display: contents" *ngIf="(getViewportWidth() <= getBreakpointValues('TABLET')!) && (getViewportWidth() > getBreakpointValues('LARGE_PHONE')!)"></app-landing-page-tablet-body>
            <app-landing-page-mobile-body 
                style="display: contents" *ngIf="(getViewportWidth() <= getBreakpointValues('LARGE_PHONE')!)"></app-landing-page-mobile-body>
        </div>

        <app-login-modal *ngIf="isLoginModalOpen" (notifyToggleLoginModal)="handleToggleLoginModal()"></app-login-modal>
    </div>
</div>