<div class="wrapper">
    <ul class="category-level3-list">
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
        <li class="category-level3-list__item">
            <span class="category-level3-list__item__content">Con người</span>
        </li>
    </ul>
</div>