.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 9px;
}

.category-level3-list {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items: start;
    justify-content: start;
}

.category-level3-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--current-level2-border-color);
    padding: 15px 30px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 27px;
    font-size: var(--fs-less);
    gap: 6px;
    transition: 0.21s ease-in-out;
    margin-right: 9px;
}

.category-level3-list__item.activated {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.category-level3-list__item__content {
    text-align: center;
    width: 100%;
    height: 100%;
}

.category-level3-list__item.activated {
    color: var(--secondary-color);
}
