.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 9px;
}

.level2-category-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.level2-category-list__item {
    height: 100%;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.ar-11 {
    aspect-ratio: 1/1;
    width: 180px;
}

.ar-34 {
    aspect-ratio: 3/4;
    width: 120px;
}

.ar-916 {
    aspect-ratio: 9/16;
}

.ar-169 {
    aspect-ratio: 16/9;
    width: 450px;
}

.ar-43 {
    aspect-ratio: 4/3;
}
