.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 9px;
}

.category-level3-list {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 9px; 
    grid-template-rows: repeat(2, 1fr); 
    align-items: center;
    justify-content: start;
    grid-auto-flow: column;
}

.category-level3-list__item {
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-2);
    width: 210px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-larger-1);
    position: relative;
    overflow: hidden;
}

.category-level3-list__item__img {
    z-index: 1;
    border-radius: var(--border-radius-2);
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
}

.category-level3-list__item.activated {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.category-level3-list__item__content {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--level3-color);
    z-index: 2;
}

.category-level3-list__item.activated {
    color: var(--secondary-color);
}
