<div class="top-info">
    <div *ngIf="(getViewportWidth() > getBreakpointValues('TABLET')!)" class="top-info__term-and-policies">
        <span class="hover-effect-yellow-bright top-info__term-and-policies__text">
            Điều khoản
        </span>
        <i class="fa-solid fa-diamond"></i>
        <span class="hover-effect-yellow-bright top-info__term-and-policies__text">
            Chính sách
        </span>
    </div>

    <ul *ngIf="(getViewportWidth() > getBreakpointValues('TABLET')!)" class="top-info__social-media-list">
        <li class="top-info__social-media-list__item hover-effect-yellow-bright">
            <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="top-info__social-media-list__item hover-effect-yellow-bright">
            <i class="fa-brands fa-youtube"></i>
        </li>
        <li class="top-info__social-media-list__item hover-effect-yellow-bright">
            <i class="fa-brands fa-tiktok"></i>
        </li>
    </ul>

    <ul *ngIf="(getViewportWidth() > getBreakpointValues('TABLET')!)" class="top-info__contact-list">
        <li class="top-info__contact-list__item">
            <p class="top-info__contact-list__item__text">
                amthanhloama&#64;gmail.com
            </p>
        </li>
        <li class="top-info__contact-list__item">
            |
        </li>
        <li class="top-info__contact-list__item">
            <p class="top-info__contact-list__item__text">
                0905123123
            </p>
        </li>
    </ul>

    <app-hamburger (notifyToggleTabletHamburger)="handleToggleTabletHamurber()" style="display: contents" *ngIf="(getViewportWidth() <= getBreakpointValues('TABLET')!)"></app-hamburger>
</div>