.wrapper {
    z-index: 999;
    width: 100vw;
    position: fixed;
    height: calc(100svh - var(--top-info-height));
}

.wrapper__containter {
    z-index: 3;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid var(--current-border-color);
    background-color: var(--current-panel-color);
    animation: responsive-tablet-content-slide-in 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px;
}

.wrapper__containter__contact {
    width: 100%;
    background-color: var(--current-background-color);
    border: 1px solid var(--current-border-color);
    border-radius: var(--border-radius-2);
    margin-top: auto;
}

.wrapper__containter__contact__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 9px;
    border-bottom: 1px solid var(--current-border-color);
}

.wrapper__containter__contact__top__item {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    padding: 9px 12px;
}

.wrapper__containter__contact__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 18px 0;
}

.wrapper__containter__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 0;
    padding-right: 4.2px;
    margin-top: 12px;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--current-border-color);
}

.wrapper__containter__footer i {
    font-size: var(--fs-less-3);
    color: var(--secondary-color);
}

.wrapper__containter__user-info {
    background-color: var(--current-background-color);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 18px;
    border: 1px solid var(--current-border-color);
    border-radius: var(--border-radius-2);
}

.wrapper__containter__user-info__avatar {
    border-radius: 100%;
    width: 45px;
    aspect-ratio: 1/1;
}

.wrapper__containter__user-info__user-fullname {
    flex: 1;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.wrapper__containter__user-functionalities {
    margin-top: 12px;
    background-color: var(--current-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--current-border-color);
    border-radius: var(--border-radius-2);
}

.wrapper__containter__user-functionalities__item {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 30px;
}

.wrapper__containter__user-functionalities__item + .wrapper__containter__user-functionalities__item {
    border-top: 1px solid var(--current-border-color);
}

.wrapper__containter__user-functionalities__item i {
    width: 45px;
}

/* Mobile normal to high resolution [SMALL PHONE] */
@media (max-width: 480px) {
    .wrapper__containter {
        width: 100%;
        height: 60%;
        border-bottom: 1px solid var(--current-border-color);
        border-left: none;
    }
}


