<div id="topic-wrapper" class="wrapper">
    <div *ngFor="let x of categoryTopicList[0].level3List" class="wrapper__accordion-group">
        <ng-container *ngIf="isContainsOther(x.name); else otherCondition">
            <div 
            (click)="toggleToFilter($event, { id: x.id, name: categoryTopicList[0].level2CategoryName + ' - Khác', level2CategoryId: categoryTopicList[0].level2CategoryId, level1CategoryId: x.level1CategoryId })"
                [ngClass]="{ 'activated': isCategoryTagSelected(x.id, categoryTopicList[0].level2CategoryId) }"
                class="hover-effect-yellow-bright wrapper__accordion">
                Khác
            </div>
        </ng-container>

        <ng-template #otherCondition>
            <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                alt="religion-picture" class="wrapper__accordion-group__img">
            <div 
            (click)="toggleToFilter($event, { id: x.id, name: x.name, level2CategoryId: categoryTopicList[0].level2CategoryId, level1CategoryId: x.level1CategoryId })"
                [ngClass]="{ 'activated': isCategoryTagSelected(x.id, categoryTopicList[0].level2CategoryId) }"
                class="hover-effect-yellow-bright wrapper__accordion">
                {{ x.name }}
            </div>
        </ng-template>
    </div>

    <div *ngIf="!isViewLoaded" class="father-wrapper">
        <app-spinner [spinnerSize]="'md'"></app-spinner>
    </div>
</div>