<div class="wrapper">

    <div *ngFor="let x of categoryTopicList" class="wrapper__accordion-group">
        <ng-template *ngIf="x.id == 1; else otherCondition">
            <div (click)="toggleToFilter($event, { id: x.id, name: x.name, level2Id: -3 })"
                class="hover-effect-yellow-bright wrapper__accordion">
                {{ x.name }}
            </div>
        </ng-template>
        <ng-template #otherCondition>
            <img src="https://natusan.co.uk/cdn/shop/articles/natusan-blog-how-cat-years-work-header.jpg?v=1674474680"
                alt="religion-picture" class="wrapper__accordion-group__img">
            <div (click)="toggleToFilter($event, { id: x.id, name: x.name, level2Id: -3 })"
                class="hover-effect-yellow-bright wrapper__accordion">
                {{ x.name }}
            </div>
        </ng-template>
    </div>

    <div *ngIf="!isViewLoaded" class="father-wrapper">
        <app-spinner [spinnerSize]="'md'"></app-spinner>
    </div>
</div>