.landing-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    min-height: 48px;
    max-height: 60px;
    height: var(--header-height);
}

.landing-page-header__slash {
    flex: 1;
    border-bottom: 1px solid var(--secondary-color);
}

.landing-page-header__logo {
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-header__button-group {
    gap: 12px;
    display: flex;
    align-items: center;
    font-size: var(--fs-normal);
}

.landing-page-header__button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 7.2px 18px;
}

.landing-page-header__button-group button i {
    margin-top: 1.2px;
    font-size: var(--fs-less-1);
}

.landing-page-header__logo-responsive-group {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
    gap: 12px;
}

.landing-page-header__logo-responsive-group__slash {
    flex: 99;
    border-bottom: 1px solid var(--secondary-color);
}

.landing-page-header__logo-responsive-group__logo {
    flex: 1;
}

/* Below small screen [TABLET] */
@media (max-width: 1023px) {
    .landing-page-header {
        padding: 0 18px;
    }
}