<div class="wrapper">
    <div class="portrait-group">
        <p class="hover-effect-silver-border portrait-group__content ar-11">
            <input type="checkbox">
            1:1
        </p>
        <p class="hover-effect-silver-border portrait-group__content ar-34">
            <input type="checkbox">
            3:4
        </p>
        <p class="hover-effect-silver-border portrait-group__content ar-916">
            <input type="checkbox">
            9:16
        </p>
    </div>

    <div class="landscape-group">
        <p class="hover-effect-silver-border landscape-group__content ar-169">
            <input type="checkbox">
            16:9
        </p>
        <p class="hover-effect-silver-border landscape-group__content ar-43">
            <input type="checkbox">
            4:3
        </p>
    </div>
</div>
