.wrapper {
    width: 100vw;
    height: 100svh;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    max-height: 1200px !important;
    max-width: 2100px;
    min-height: 720px;
}

.left-side, .right-side {
    padding: 4.5px;
}

.left-side {
    width: 15%;
    min-width: 291px;
    height: 100%;
    animation: slide-left-right-fade ease-in-out 0.3s;
}

.right-side {
    width: 85%;
    height: 100%;
    animation: slide-right-left-fade ease-in-out 0.3s;
}

/* Below small screen [TABLET] */
@media (max-width: 1023px) {
    .wrapper {
        --left-side-width: 12%;
    }

    .left-side {
        width: var(--left-side-width);
        min-width: 99px;
        height: 100%;
    }
    
    .right-side {
        width: calc(100% - var(--left-side-width));
        height: 100%;
    }
}

/* Below Tablets [LARGE PHONE] */
@media (max-width: 739px) {
    .left-side {
        display: none;
    }
    
    .right-side {
        width: 100%;
        padding: 0;
    }

    .wrapper {
        padding: 0;
    }
}

