.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 9px;
}

.level2-category-list {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 9px; 
    grid-template-rows: repeat(2, 1fr); 
    align-items: center;
    justify-content: start;
    grid-auto-flow: column;
}

.level2-category-list__item {
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-1);
    width: 120px;
    height: 100%;
    font-size: var(--fs-larger-1);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.level2-category-list__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.level2-category-list__item__text {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #63636334;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level2-category-list__item__text.darker-overlay {
    background-color: #3d3d3d9f;
}

.level2-category-list__item__text.dark-text {
    color: var(--light-text-color);
}
