<div class="wrapper">
    <header class="header">
        <ul class="header__breadcrumb">
            <li class="header__breadcrumb__item">
                Bộ lọc tranh
            </li>
            <li *ngFor="let x of getBreadcumpWithSlashes()" [ngClass]="{ 'slash' : x == '/' }" class="header__breadcrumb__item">
                {{x}}
            </li>
        </ul>

        <div class="header__icon-group">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </header>

    <div class="body">
       <app-mobile-level1-category style="display: contents"></app-mobile-level1-category> 
    </div>
</div>