@keyframes ripple {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes shine-loading-image {
    0% {
        background-position: -32px;
    }
    40%,
    100% {
        background-position: 300px;
    }
}

@keyframes displayOpacity {
    from {
        transform: scale(0.96);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes gradient-text-animation {
    from {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}

@keyframes list-page-left-upper-glowing-background {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 360% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes landing-page-clickbate-banner-animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

@keyframes landing-page-banner-right-side-bannermove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes landing-page-responsive-right-side-move {
    0% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes overlay__fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes responsive-tablet-content-slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes responsive-tablet-content-slide-up-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}