.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 21px;
    color: var(--text-color);
    white-space: nowrap;
    font-size: var(--fs-normal);
    padding: 9px 18px;
    padding-bottom: 9.9px;
}

.btn.outline {
    border: 1px solid var(--current-border-color)
}

.btn.pr {
    background-color: var(--primary-color);
}

.btn.pr.outline {
    background-color: transparent;
    border: 1px solid var(--primary-color)
}

.btn.cts {
    width: 100%;
    height: 100%;
}

.btn.sc {
    background-color: transparent;
    border: 1px solid var(--current-border-color);
}