.wrapper {
    width: 100%;
    height: 100%;
    animation: slide-bottom-top-fade 0.3s ease-in-out;
}

.header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--dark-border-color);
    background-color: var(--dark-panel-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__title {
    width: 120px;
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
    padding-left: 18px;
    left: 0;
    height: 100%;
}

.header__title.invisible {
    opacity: 0;
    width: 0;
}

.header__title__gradient-container__background {
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient-text-animation 60s alternate infinite;
}

.header__search-group {
    padding: 0;
    display: flex;
    align-items: center;
    width: 36%;
    min-width: 150px;
    margin-left: auto;
    margin-right: 1.8px;
    z-index: 1;
    transition: 0.3s ease;
    position: relative;
    height: 100%;
}

.header__search-group.expand {
    flex: 1;
}

.header__search-group i {
    top: 22.1px;
    right: 15px;
    position: absolute;
    z-index: 1;
}

.fa-xmark {
    margin-right: 30px;
}

.header__search-group__search-bar {
    width: 100%;
    height: 72%;
    padding: 9px;
    padding-bottom: 10.5px;
    padding-right: 66px;
    padding-left: 15px;
    margin-top: 1.8px;
    z-index: 1;
    position: relative;
}

.header__search-group__search-bar::placeholder {
    font-size: var(--fs-less-1);
    opacity: 0.81;
}

.header__hamburger-group {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.body {
    height: calc(100svh - 60px);
    position: relative;
    padding: 0 9px;
}

.body__search-info-group {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px;
    position: sticky;
    top: 60px;
    background-color: var(--dark-panel-color);
    z-index: 2;
}

.body__search-info-group__text-group {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: var(--fs-less-1);
}

.body__search-info-group__text-group span {
    color: var(--secondary-color);
}

.body__search-info-group__tag-group {
    display: flex;
    align-items: center;
    flex: 1;
    min-height: 36px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
    gap: 3px;
    position: relative;
    z-index: 3;
}

.body__search-info-group__reset {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: var(--fs-less-2);
    background-color: var(--level3-color);
    width: 75px;
    height: 30px;
    border: 1px solid var(--dark-border-color);
}

/*#region GALLERY */
.body__gallery-group {
    width: 100%;
}

.body__gallery-group__list {
    width: 100%;
    column-gap: var(--masonry-gap);
    column-count: 2;
    z-index: 0;
    padding-bottom: 54px;
}

.body__gallery-group__list__item {
    break-inside: avoid-column;
    transition: 0.3s ease-in-out;
    margin-bottom: var(--masonry-gap);
}

.body__gallery-group__list__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-1);
    z-index: 1;
}
/*#endregion*/

/*#region SKELETON */
.body__gallery-group__list-skeleton {
    width: 100%;
    column-gap: var(--masonry-gap);
    column-count: 2;
    z-index: 0;
    position: relative;
}

.body__gallery-group__list-skeleton__item {
    break-inside: avoid-column;
    margin-bottom: var(--masonry-gap);
    position: relative;
    transition: 0.3s ease-in-out;
    border: 1px solid var(--dark-border-color);
}

.body__gallery-group__list-skeleton__item.is-loading {
    background-image: -webkit-linear-gradient(left, var(--dark-panel-color) 0px, var(--dark-skeleton-color) 40px, var(--dark-panel-color) 80px);
    background-image: -o-linear-gradient(left, var(--dark-panel-color) 0px, var(--dark-skeleton-color) 40px, var(--dark-panel-color) 80px);
    background-image: linear-gradient(90deg, var(--dark-panel-color) 0px, var(--dark-skeleton-color) 40px, var(--dark-panel-color) 80px);
    background-size: 350px;
    -webkit-animation: shine-loading-image 0.81s infinite ease-in-out;
    animation: shine-loading-image 0.81s infinite ease-in-out;
}

/*#endregion*/

/*#region PREVIEW MODAL */
.preview-drawing-container {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.preview-drawing-container__title {
    pointer-events: all;
    font-size: var(--fs-larger-3);
    font-weight: 300;
    opacity: 0.81;
    font-family: var(--font-secondary);
    height: 12%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: text;
    user-select: text;
    width: 90vw;
    text-wrap: wrap;
}

.preview-drawing-container__img-group {
    flex: 1;
    max-height: 76%;
    max-width: 81%;
    overflow: hidden;
}

.preview-drawing-container__img-group__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: all;
}

.preview-drawing-container__button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 12%;
    min-height: 60px;
    max-width: 90vw;
}

.preview-drawing-container__button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: var(--level3-color);
    font-size: var(--fs-less-1);
    border-radius: var(--border-radius-2);
    pointer-events: all;
}

.preview-drawing-container__button-group button:last-child {
    background-color: transparent;
}

.preview-drawing-container__button-group button * {
    margin-top: 1.8px;
}

.preview-drawing-container__button-group button i {
    margin-right: 0;
}
/*#endregion*/

/*#region HAMBURGER CONTENT */
.hamburger-content {
    position: fixed;
    top: 60px;
    height: 0px;
    right: 0;
    width: 100%;
    background-color: var(--dark-background-color);
    transition: 0.3s ease-in-out;
    z-index: 2;
    padding: 12px;
    
    opacity: 0;
    pointer-events: none;
    border-bottom: 1px solid var(--dark-border-color);
}

.hamburger-content.activated {
    opacity: 1;
    pointer-events: all;
    height: 100%;
}

.hamburger-content__user-info {
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 18px;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-2);
}

.hamburger-content__user-info__avatar {
    border-radius: 100%;
    width: 45px;
    aspect-ratio: 1/1;
}

.hamburger-content__user-info__user-fullname {
    flex: 1;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.hamburger-content__user-functionalities {
    margin-top: 12px;
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-2);
}

.hamburger-content__user-functionalities__item {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 30px;
}

.hamburger-content__user-functionalities__item i {
    width: 45px;
}

.hamburger-content__user-functionalities__item + .hamburger-content__user-functionalities__item {
    border-top: 1px solid var(--dark-border-color);
}

.hamburger-content__contact {
    width: 100%;
    background-color: var(--dark-background-color);
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-2);
    margin-top: 12px;
}

.hamburger-content__contact__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 9px;
    border-bottom: 1px solid var(--dark-border-color);
}

.hamburger-content__contact__top__item {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    padding: 9px 12px;
}

.hamburger-content__contact__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 18px 0;
}

.hamburger-content__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 0;
    padding-right: 4.2px;
    margin-top: 12px;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--dark-border-color);
}

.hamburger-content__footer i {
    font-size: var(--fs-less-2);
    color: var(--primary-color);
}
/*#endregion*/

/*#region NAVBAR */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 51px;
    border-top: 1px solid var(--dark-border-color);
    background: var(--level2-color);
    backdrop-filter: blur(6px);
    animation: slide-bottom-top-fade 0.3s ease-in-out;
}

.navbar__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__list__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.navbar__list__item.activated {
    color: var(--secondary-color);
}

.navbar__list__item i {
    position: relative;
}

.fa-solid span {
    position: absolute;
    font-size: var(--fs-less-2);
    color: white;
    background-color: #da1814d0;
    position: absolute;
    padding: 3px;
    padding-bottom: 1.8px;
    border-radius: 9px;
    bottom: -6px;
    left: -6px;
}
/*#endregion*/
